<section class="developers">
  <div class="developers_text">
    <h3>Featured Developers</h3>
    <h5>Use our featured developers for your web projects</h5>
  </div>
  <div class="developers_images">
    <div class="developers_images__item item-1">
      <div class="text">
        <div class="text_wrapper">
          <h5>Agbama Ulimhuka</h5>
          <h6>
            <object
              data="w.svg"
              type="image/svg+xml"
              class="text_wrapper__icon"
            >
              <img src="img/technologie/w.svg" width="20" height="20" />
            </object>
            Webflow developer
          </h6>
        </div>
      </div>
    </div>
    <div class="developers_images__item item-2">
      <div class="text">
        <div class="text_wrapper">
          <h5>Surita Patnam</h5>
          <h6>
            <object
              data="b.svg"
              alt=""
              type="image/svg+xml"
              class="text_wrapper__icon"
            >
              <img
                src="img/technologie/b.svg"
                width="20"
                height="20"
                alt=""
              /></object
            >Bubble developer
          </h6>
        </div>
      </div>
    </div>
    <div class="developers_images__item item-3">
      <div class="text">
        <div class="text_wrapper">
          <h5>Richard Bomaventure</h5>
          <h6>
            <object
              data="react.svg"
              type="image/svg+xml"
              class="text_wrapper__icon"
            >
              <img
                src="img/technologie/react.svg"
                width="20"
                height="20"
                alt=""
              /></object
            >React.js developer
          </h6>
        </div>
      </div>
    </div>
    <div class="developers_images__item item-4">
      <div class="text">
        <div class="text_wrapper">
          <h5>Elliana James</h5>
          <h6>
            <object
              data="vue.svg"
              type="image/svg+xml"
              class="text_wrapper__icon"
            >
              <img
                src="img/technologie/vue.svg"
                width="20"
                height="20"
                alt=""
              /></object
            >Vue.js developer
          </h6>
        </div>
      </div>
    </div>
    <div class="developers_images__item item-5">
      <div class="text">
        <div class="text_wrapper">
          <h5>Richard Bomaventure</h5>
          <h6>
            <object
              data="react.svg"
              type="image/svg+xml"
              class="text_wrapper__icon"
            >
              <img
                src="img/technologie/react.svg"
                width="20"
                height="20"
                alt=""
              /></object
            >React.js developer
          </h6>
        </div>
      </div>
    </div>
    <div class="developers_images__item item-6">
      <div class="text">
        <div class="text_wrapper">
          <h5>Samuel Oghenakaro</h5>
          <h6>
            <object
              data="w.svg"
              type="image/svg+xml"
              class="text_wrapper__icon"
            >
              <img
                src="img/technologie/w.svg"
                width="20"
                height="20"
                alt=""
              /></object
            >Webflow developer
          </h6>
        </div>
      </div>
    </div>
  </div>
  <button>Get featured</button>
  <hr />
</section>
