<footer class="footer container">
  <h5>Privacy policy</h5>
  <div class="sprite">
    <object data="facebook.svg" type="image/svg+xml">
      <a href="#"> <img src="img/svg/facebook.svg" width="35" height="35" /></a>
    </object>
    <object data="twitter.svg" type="image/svg+xml">
      <a href="#"> <img src="img/svg/twitter.svg" width="35" height="35" /></a>
    </object>
    <object data="linkdin.svg" type="image/svg+xml">
      <a href="#"> <img src="img/svg/linkdin.svg" width="35" height="35" /></a>
    </object>
    <object data="instagram.svg" type="image/svg+xml">
      <a href="#">
        <img src="img/svg/instagram.svg" width="35" height="35"
      /></a>
    </object>
  </div>
  <h5>Clubwebs</h5>
</footer>
