<header class="header container">
  <div class="logo">
    <h2>
      <a href="" class="logo">
        <object data="logo.svg" type="image/svg+xml">
          <img src="img/icons/logo.svg" alt="" width="43" height="43" /></object
        >Clubweb</a
      >
    </h2>
  </div>
  <div class="menu__icon"><span></span></div>
  <nav class="menu__body">
    <ul class="menu__list">
      <li>
        <a data-goto=".developers_text" href="#" class="menu__link">Features</a>
      </li>
      <li>
        <a data-goto=".technologie_text" href="#" class="menu__link">Pricing</a>
      </li>
      <li>
        <a data-goto=".message_text" href="#" class="menu__link">Learn</a>
      </li>
      <li>
        <button class="menu__link">
          <a href="#">Join Clubweb</a>
        </button>
      </li>
    </ul>
  </nav>
</header>
