<section class="main_block">
  <div class="main_block__text">
    <h1>Get a customized <span>website</span> for your business and brand.</h1>
    <p>
      You need a brand yes. You need a website. Get someone to create. Relax and
      Chill
    </p>
  </div>
  <div class="buttone_block">
    <button class="buttone_block__blue">Get started</button>
    <button class="buttone_block__transparent">Get featured</button>
  </div>
  <div class="slider_block">
    <picture>
      <source srcset="img/slider/slider.avif" type="image/avif" />
      <source srcset="img/slider/slider.webp" type="image/webp" />
      <img
        src="img/slider/slider.png"
        class="image"
        width="1200"
        height="514"
        alt="slider"
      />
    </picture>
  </div>
</section>
