<section class="message">
  <div class="message_text">
    <h3>Message from users</h3>
    <h5>Read what they say about clubweb, our users have the say</h5>
  </div>
  <div class="message_block">
    <div class="message_block__item">
      <p>
        With clubweb i got a business website within 24hrs. This made a lot of
        sales while at home. I am happy to have found you guys early. Thanks
      </p>
      <h5>Adebanjo Oludare</h5>
    </div>
    <div class="message_block__item">
      <p>
        I can’t dream of a better website development service provider like
        clubweb. Fast, simple and easy UI. I got a job because of the portfoilio
        website you made for me
      </p>
      <h5>Diana Bartholomeum</h5>
    </div>
    <div class="message_block__item">
      <p>
        Thanks to Clubweb, i learnt how to build a website with their learn
        website plan and i got employed as a webflow developer. Thanks
      </p>
      <h5>Simeon Neto</h5>
    </div>
    <div class="message_block__item">
      <p>
        With clubweb i got a business website within 24hrs. This made a lot of
        sales while at home. I am happy to have found you guys early. Thanks
      </p>
      <h5>Victoria Roberts</h5>
    </div>
    <div class="message_block__item">
      <p>
        Thanks to Clubweb, i learnt how to build a website with their learn
        website plan and i got employed as a webflow developer. Thanks
      </p>
      <h5>Solomon Esso</h5>
    </div>
    <div class="message_block__item">
      <p>
        Thanks to Clubweb, i learnt how to build a website with their learn
        website plan and i got employed as a webflow developer. Thanks
      </p>
      <h5>Human Rabbit Club</h5>
    </div>
    <div class="message_block__item">
      <p>
        With clubweb i got a business website within 24hrs. This made a lot of
        sales while at home. I am happy to have found you guys early. Thanks
      </p>
      <h5>Lucas Anderson</h5>
    </div>
    <div class="message_block__item">
      <p>
        Thanks to Clubweb, i learnt how to build a website with their learn
        website plan and i got employed as a webflow developer. Thanks
      </p>
      <h5>Ricardo Perreira</h5>
    </div>
    <div class="message_block__item">
      <p>
        With clubweb i got a business website within 24hrs. This made a lot of
        sales while at home. I am happy to have found you guys early. Thanks
      </p>
      <h5>Cherry Oludare</h5>
    </div>
  </div>
</section>
