<section class="technologie">
  <div class="technologie_text">
    <h3>Let us build a website with your ideas</h3>
    <h6>
      Get website developers to create your marketing website and portfolio
      faster
    </h6>
  </div>
  <div class="technologie_blocks">
    <div class="technologie_blocks__item">
      <div class="item_shadow">
        <object data="logo.svg" type="image/svg+xml">
          <img alt="" src="img/icons/cart.svg" width="43" height="43" />
        </object>
      </div>
      <h5>E-commerce website</h5>
      <h6>
        Engage a developer to create a customized e-commerce site at low cost
      </h6>
      <div class="main-1">
        <picture>
          <source srcset="img/icons/wind.avif" type="image/avif" />
          <source srcset="img/icons/wind.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/icons/wind.png"
            class="image"
            width="66"
            height="66"
            alt="wind"
          />
        </picture>
      </div>
      <div class="main-2">
        <picture>
          <source srcset="img/icons/wind.avif" type="image/avif" />
          <source srcset="img/icons/wind.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/icons/wind.png"
            class="image"
            width="66"
            height="66"
            alt="wind"
          />
        </picture>
      </div>
    </div>
    <div class="technologie_blocks__item">
      <div class="item_shadow">
        <object data="logo.svg" type="image/svg+xml">
          <img src="img/icons/lens.svg" alt="" width="43" height="43" />
        </object>
      </div>

      <h5>Portfolio website</h5>
      <h6>
        A portfolio website is a profile website by nature, so this is the place
        to get a deveoper
      </h6>
    </div>
    <div class="technologie_blocks__item">
      <div class="item_shadow">
        <object data="logo.svg" type="image/svg+xml">
          <img src="img/icons/card.svg" width="43" height="43" />
        </object>
      </div>

      <h5>Marketing website</h5>
      <h6>
        This is a website created with lot of marketing advantage. Do you have
        one?
      </h6>
    </div>
  </div>

  <div class="technologie_tool">
    <h3>Choose any tool of your choice</h3>
    <h5>
      Webflow, bubble, vue and react + 5 other development tools for your
      website
    </h5>

    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/b.svg" width="66" height="66" alt="" />
    </object>
    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/css.svg" width="66" height="66" alt="" />
    </object>
    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/html.svg" width="66" height="66" alt="" />
    </object>
    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/js.svg" width="66" height="66" alt="" />
    </object>
    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/python.svg" width="66" height="66" alt="" />
    </object>
    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/react.svg" width="66" height="66" alt="" />
    </object>
    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/vue.svg" width="66" height="66" alt="" />
    </object>
    <object data="logo.svg" type="image/svg+xml" class="technologie_tool__icon">
      <img src="img/technologie/w.svg" width="66" height="66" alt="" />
    </object>
  </div>
  <hr />
</section>
